<!DOCTYPE html>
<html>
<head>
<style>
a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: transparent;
    text-decoration:none;
}
a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
</style>
</head>
<body bgcolor=#A93226>


 
  <h2 style="color:white">Menu</h2>

<a href = "newsfeed.html" target="showframe">Signed MOUs</a><br>
</br>
<a href = "newsfeed1.html" target="showframe">Public MOUs</a><br>
</body>
</html>
